.header {
  width: 100%;
  height: 50px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-icon {
  width: 15px;
  height: 15px;
  padding-left: 15px;
  padding-right: 10px;
}

.header-title {
  font-size: 14px;
  font-weight: bold;
}

.header-panel {
  display: flex;
  align-items: center;
}

.header-txt {
  font-size: 12px;
  margin-right: 20px;
  font-weight: lighter;
  cursor: pointer;
}